h1{
    text-align: center;
    color:aqua;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:url("./images/laptopreponsive.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    height:50%;
    width:95%;
    justify-content: flex-end;
}
.set{
    display: flex;
    align-items: center;
    height:700px;
}
button{
    height:150px;
    width:55px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    border:5px solid blue;
}
footer{
    color:aqua;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width:300px) and (max-width:500px){
    h1{
        text-align: center;
        font-size: 50px;
        color:aqua;
    }
    body{
        background-image: url("./images/istockphoto-1076840920-612x612.jpg");
        align-items: center;
        height:500px;
        justify-content: center;
    }
    .set{
       display: flex;
       align-items: center;
       height:300px;
    }
    button{
        height:100px;
        width:20px;
        display:flex;
        border:2px solid blue;
    }
}
@media (min-width:510px) and (max-width:900px){
    h1{
        text-align:center;
        font-size:50px;
        color:aqua
    }
    body{
        background-image: url("./images/istockphoto-1076840920-612x612.jpg");
        align-items: center;
        height:500px;
        justify-content: center;
    }
    .set{
        align-items: center;
        height:300px;
    }

    button{
        height:100px;
        width:30px;
        display:flex;
        border:2px solid blue;
    }
}
@media (min-width:900px) and (max-width:1250px){
    body{
        background-size: 100% 100%;
        align-items: center;
        height: 50%;
        width:95%;
        justify-content: flex-end;
        border:10px solid blue;
    }
    button{
        width:35px;
    }
}

